@import "~bootstrap/scss/bootstrap";

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
    background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, hsla(293, 39%, 84%, 1) 100%);
}
