#index-admin, #index-guest{

    padding-top: 40px;
    .row{

        .col-5{
            margin-bottom: 20px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

   #add {
    margin: 50px 0 20px 0;
        .add-button {
            color: black;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: bolder;
            padding: 10px 16px;
            border: 2px solid black;
            transition: all .5s ease-in-out;
            &:hover{
                color: white;
                background-color: black;
            }
        }
   } 


    .my-card {
        background-color: rgba(255, 255, 255, 0.351);
        backdrop-filter: blur(6px);
        padding: 20px; 
        height: 450px;
        border: 2px solid black;
        margin-bottom: 24px;
        position: relative;
        .my-card-body {


            h3{
                font-size: 1.3rem;
                font-weight: 600;
                color: black;
                margin-bottom: 8px;
            }

            p{
                padding: 10px;
                overflow-y: auto;
                font-size: 0.8em;
                height: 60%;
            }

            a{
                padding: 8px 10px;
                color: #001f3f;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .tag{
                padding: 8px 10px;
                color: white;
                display: inline-block;
                font-size: 0.7rem;
                background-color: black;
                margin-bottom: 40px;
            }
            
            .show-button {
                background-color: transparent;
                border: 2px solid black;
                color: black;
                text-decoration: none;
                padding: 5px 12px;
            }
    
            .show-button:hover {
                background-color: black;
                color: white;
                transition: background-color 0.5s ;
            }
    
            .edit-buttons-container {
                position: absolute;
                right: -25px;
                bottom: 25px;
    
                .edit-button {

                    background-color: white;
                    color: black;
                    text-decoration: none;
                    backdrop-filter: blur(3px);
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 35px;
                    font-size: 20px;
                    border: 1px solid black;
                    transition: all .1s ease-in-out; 
                    &:hover{
                        transform: scale(1.1);
                    }
                    &:focus{
                        transform: scale(1.01);
                    }
                    
                }
    
                .erase-button {
                    backdrop-filter: blur(3px);
                    background-color: black;
                    color: white;
                    border: 1px solid black;
                    height: 50px;
                    width: 50px;
                    transition: all .2s ease-in-out; 
                    &:hover{
                        transform: scale(1.1);
                    }
                    &:focus{
                        transform: scale(1.01);
                    }
                }
            }
        }

    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
}